<div class="wrapper">
    <h1>Title 1</h1>
    <p>First paragraph under Title 1</p>
    <p>Second paragraph under Title 1</p>
    <div class="inner-wrapper">
        <h1>Inner Title</h1>
        <p>First paragraph under Inner Title</p>
        <p>Second paragraph under Inner Title</p>
        <h2>Subtitle 1</h2>
        <p>First paragraph under Subtitle 1</p>
        <p>Second paragraph under Subtitle 1</p>
        <h2>Subtitle 2</h2>
        <p>First paragraph under Subtitle 2</p>
        <p>Second paragraph under Subtitle 2</p>
    </div>
    <h1>Title 2</h1>
    <p>First paragraph under Title 2</p>
    <p>Second paragraph under Title 2</p>
</div>
